<?xml version="1.0" encoding="utf-8"?>
<Content Key="96a15239-ee3d-455e-bc9a-d7c469d7aeaf" Alias="Global Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GlobalSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>globalSettings</ContentType>
    <CreateDate>2021-02-18T18:14:24</CreateDate>
    <NodeName Default="Global Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <documentationMenu>
      <Value><![CDATA[umb://document/e963821056f54cd38f1e0360eb3252fe]]></Value>
    </documentationMenu>
    <favicon>
      <Value><![CDATA[umb://media/e2dda762411c4258bd963b8c329d6b13]]></Value>
    </favicon>
    <logo>
      <Value><![CDATA[umb://media/e2dda762411c4258bd963b8c329d6b13]]></Value>
    </logo>
    <siteName>
      <Value><![CDATA[MegaNavV8 Documentation]]></Value>
    </siteName>
    <socialMediaAccounts>
      <Value><![CDATA[]]></Value>
    </socialMediaAccounts>
  </Properties>
</Content>