<?xml version="1.0" encoding="utf-8"?>
<Content Key="37fe45c7-a281-4ce3-a0b2-268f3a8e9702" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2021-02-17T22:32:45</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="58962a5a-21b1-47c6-8cd8-01062d7da2ec">Home</Template>
  </Info>
  <Properties>
    <contentBlocks>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Three Column",
          "id": "9d22bbff-9f15-4396-a634-c8234fcff1a5",
          "areas": [
            {
              "grid": "4",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "cardBlock",
                    "value": {
                      "name": "Card",
                      "icon": "fas fa-map-signs",
                      "title": "Introduction",
                      "text": "Section overview goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor."
                    },
                    "id": "0996614d-8c83-9dbd-4380-12a0d0d50d30"
                  },
                  "editor": {
                    "alias": "card",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "4",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "cardBlock",
                    "value": {
                      "name": "Card",
                      "icon": "fas fa-arrow-down",
                      "title": "Installation",
                      "text": "Section overview goes here. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo."
                    },
                    "id": "2f01f42f-b221-5d44-ba39-312aac6e362b"
                  },
                  "editor": {
                    "alias": "card",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "4",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "cardBlock",
                    "value": {
                      "name": "Card",
                      "icon": "fas fa-tools",
                      "title": "Utilities",
                      "text": "Section overview goes here. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet."
                    },
                    "id": "e18f7c86-ddfb-8935-ee51-c649c7582197"
                  },
                  "editor": {
                    "alias": "card",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </contentBlocks>
    <headerBlocks>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "One Column",
          "id": "51327860-f7f4-4b6d-ab14-0c0c1dc16648",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "titleBlock",
                    "value": {
                      "name": "Title",
                      "size": [
                        "H1"
                      ],
                      "text": "MegaNavV8 Documentation",
                      "textColour": "",
                      "customClasses": "page-heading single-col-max mx-auto"
                    },
                    "id": "5362c8d7-a39c-5b16-f095-95e333791a66"
                  },
                  "editor": {
                    "alias": "title",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "dtgeContentTypeAlias": "richTextBlock",
                    "value": {
                      "name": "Rich Text",
                      "text": "<p><span class=\"page-intro single-col-max mx-auto\">Everything you need to get your software documentation online.</span></p>"
                    },
                    "id": "51b479e2-fee7-39f6-a370-38508981b151"
                  },
                  "editor": {
                    "alias": "richText",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "dtgeContentTypeAlias": "searchBlock",
                    "value": {
                      "name": "Search",
                      "searchResultsPage": [
                        {
                          "icon": "icon-search color-black",
                          "name": "Search",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": "umb://document/405088b1aa2e4666b56d2263c1e36c21",
                          "url": "/search/"
                        }
                      ],
                      "placeholder": "Search the docs...",
                      "submitButtonText": ""
                    },
                    "id": "68f1659b-923c-87ad-b15e-0b1ad8d90443"
                  },
                  "editor": {
                    "alias": "search",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </headerBlocks>
  </Properties>
</Content>