<?xml version="1.0" encoding="utf-8"?>
<Content Key="37fe45c7-a281-4ce3-a0b2-268f3a8e9702" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2021-02-17T22:32:45</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="58962a5a-21b1-47c6-8cd8-01062d7da2ec">Home</Template>
  </Info>
  <Properties>
    <contentBlocks>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Three Column",
          "id": "9d22bbff-9f15-4396-a634-c8234fcff1a5",
          "areas": [
            {
              "grid": "4",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "card",
                    "value": {
                      "name": "Card",
                      "icon": "fas fa-map-signs",
                      "title": "Introduction",
                      "text": "Section overview goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor."
                    },
                    "id": "3c4d154a-5570-b546-5df2-6826bd1b7f51"
                  },
                  "editor": {
                    "alias": "card",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "4",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "card",
                    "value": {
                      "name": "Card",
                      "icon": "fas fa-arrow-down",
                      "title": "Installation",
                      "text": "Section overview goes here. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo."
                    },
                    "id": "af453113-066c-1678-ab4e-c9aea3d06d2d"
                  },
                  "editor": {
                    "alias": "card",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "4",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "card",
                    "value": {
                      "name": "Card",
                      "icon": "fas fa-tools",
                      "title": "Utilities",
                      "text": "Section overview goes here. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet."
                    },
                    "id": "c4e95e3c-5d8c-1fc7-2fdf-6a40ef96382c"
                  },
                  "editor": {
                    "alias": "card",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </contentBlocks>
  </Properties>
</Content>