<?xml version="1.0" encoding="utf-8"?>
<Content Key="ff5d0321-2a95-4b0e-ba4e-607c53192641" Alias="Menus" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Menus</Path>
    <Trashed>false</Trashed>
    <ContentType>menuFolder</ContentType>
    <CreateDate>2021-02-18T18:24:22</CreateDate>
    <NodeName Default="Menus" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>