<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="31af349f-4f49-4dc2-90a5-57337ec9a122" Alias="documentationPage" Level="1">
  <Info>
    <Name>Documentation Page</Name>
    <Icon>icon-book-alt-2 color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>