<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="faf83ec3-c39b-4589-9ced-e0615d922c15" Alias="globalSettings" Level="1">
  <Info>
    <Name>Global Settings</Name>
    <Icon>icon-settings-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a8b93358-44df-462a-bfe0-480363cfa4d9</Key>
      <Name>Documentation Menu</Name>
      <Alias>documentationMenu</Alias>
      <Definition>126c3337-8d7c-4166-9bed-53fa80060aa5</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Global Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>631ba23b-fd67-49aa-ad0e-725b5765ede6</Key>
      <Name>Favicon</Name>
      <Alias>favicon</Alias>
      <Definition>ee161bdd-0e3d-4f7f-b09b-caabe4d0fe18</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Global Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>4ec6c1a2-5307-4d08-a53e-2bc0574b50e9</Key>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Definition>ee161bdd-0e3d-4f7f-b09b-caabe4d0fe18</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Global Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>708fb173-52a4-452d-8c1d-308bb8a3230d</Key>
      <Name>Site Name</Name>
      <Alias>siteName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Global Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>af455d3d-0d6c-4a68-9b49-12279e634fb0</Key>
      <Name>Social Media Accounts</Name>
      <Alias>socialMediaAccounts</Alias>
      <Definition>99e1e7a8-cf32-4d22-b7b0-d9e65a92abe0</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Global Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>6b338bd1-e7d1-49ae-96bf-8aa3d178dfa6</Key>
      <Name>Top Bar Button</Name>
      <Alias>topBarButton</Alias>
      <Definition>4e4838b0-782c-4e3b-bb59-501621b89896</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Global Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Global Settings</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>