<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="53c43a79-77e2-4a01-bb06-9bd8f9428bee" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="58962a5a-21b1-47c6-8cd8-01062d7da2ec">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="31af349f-4f49-4dc2-90a5-57337ec9a122" SortOrder="0">documentationPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>190891cd-205d-47be-95b9-ffab7701b69e</Key>
      <Name>Content Blocks</Name>
      <Alias>contentBlocks</Alias>
      <Definition>70d549e2-1f03-483d-a7ba-53b3f01ac406</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>