<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6482eae8-d265-4390-87f2-c7b6f64b552a" Alias="menuFolder" Level="1">
  <Info>
    <Name>Menu Folder</Name>
    <Icon>icon-folders color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="19ad10ec-4d6e-44e0-ab4e-1453e4efb910" SortOrder="0">menu</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>