<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="19ad10ec-4d6e-44e0-ab4e-1453e4efb910" Alias="menu" Level="1">
  <Info>
    <Name>Menu</Name>
    <Icon>icon-sitemap color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3c515e96-0dfb-454f-b4e5-8140bdc76433</Key>
      <Name>MegaNavV8</Name>
      <Alias>megaNavV8</Alias>
      <Definition>f430b43c-7728-4863-a7f3-4026cef613e1</Definition>
      <Type>AaronSadler.MegaNavV8</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Menu</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Menu</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>