<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="702297bf-84e7-4b94-8984-b145ce22b0d8" Alias="richTextBlock" Level="2">
  <Info>
    <Name>Rich Text</Name>
    <Icon>icon-notepad-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Grid</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>45aafd77-5ed4-4f76-a201-bf859e6217c8</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>57f2bedc-8ad2-40c0-8dfc-4aa75e88563c</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Rich Text</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Rich Text</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>