<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="49586f89-d5a6-41b9-b93c-f91d2b174da5" Alias="socialMedia" Level="2">
  <Info>
    <Name>Social Media</Name>
    <Icon>icon-user-females color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b02e18fb-a60d-4217-b81e-8bd374bb9b02</Key>
      <Name>Name</Name>
      <Alias>accountType</Alias>
      <Definition>6cabb41a-d8a8-4029-95bc-9735d2952293</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Social Media</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>1b8ad1e6-3916-4b09-96d3-07bf3c2a5a60</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>4e4838b0-782c-4e3b-bb59-501621b89896</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Social Media</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Social Media</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>