<?xml version="1.0" encoding="utf-8"?>
<Macro Key="c8192f24-f441-44c9-a4a0-ddb55dd8b578" Alias="SearchBox" Level="0">
  <Name>Search Box</Name>
  <MacroSource>~/Views/MacroPartials/SearchBox.cshtml</MacroSource>
  <MacroType>PartialView</MacroType>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>