@using Skybrud.Umbraco.GridData.Extensions
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Home>
@{
    Layout = "Master.cshtml";

    var headerBlocks = Model.HeaderBlocks;
    var contentBlocks = Model.ContentBlocks;
}
<div class="page-header theme-bg-dark py-5 text-center position-relative">
    <div class="theme-bg-shapes-right"></div>
    <div class="theme-bg-shapes-left"></div>
    <div class="container">
        @Html.GetTypedGridHtml(headerBlocks, "Bootstrap4")
    </div>
</div><!--//page-header-->
<div class="page-content">
    <div class="container">
        <div class="docs-overview py-5">
            <div class="row justify-content-center">
                @Html.GetTypedGridHtml(contentBlocks, "Bootstrap4")
            </div><!--//row-->
        </div><!--//container-->
    </div><!--//container-->
</div><!--//page-content-->