<?xml version="1.0" encoding="utf-8"?>
<DataType Key="20a8ceb1-39de-4b57-88e5-852339f132cc" Alias="Documentation Page - Content Blocks - Grid layout" Level="1">
  <Info>
    <Name>Documentation Page - Content Blocks - Grid layout</Name>
    <EditorAlias>Umbraco.Grid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": {
    "styles": [],
    "config": [],
    "columns": 12,
    "templates": [
      {
        "name": "1 column layout",
        "sections": [
          {
            "grid": 12
          }
        ]
      }
    ],
    "layouts": [
      {
        "label": "One Column",
        "name": "One Column",
        "areas": [
          {
            "grid": 12,
            "editors": [
              "headline"
            ]
          }
        ]
      }
    ]
  },
  "Rte": {
    "toolbar": [
      "ace",
      "styleselect",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbmacro",
      "umbembeddialog"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>