<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a06ed724-961a-41ab-b28f-97bcb1fb6d01" Alias="Font awesome Picker" Level="1">
  <Info>
    <Name>Font awesome Picker</Name>
    <EditorAlias>faIcon</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>