<?xml version="1.0" encoding="utf-8"?>
<DataType Key="99e1e7a8-cf32-4d22-b7b0-d9e65a92abe0" Alias="Global Settings - Social Media Accounts - Nested Content" Level="1">
  <Info>
    <Name>Global Settings - Social Media Accounts - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "socialMedia",
      "ncTabAlias": "Social Media",
      "nameTemplate": "{{accountType}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>