<?xml version="1.0" encoding="utf-8"?>
<DataType Key="126c3337-8d7c-4166-9bed-53fa80060aa5" Alias="Menu - Multinode Treepicker" Level="1">
  <Info>
    <Name>Menu - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/ff5d03212a954b0eba4e607c53192641"
  },
  "Filter": "menu",
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>