<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f430b43c-7728-4863-a7f3-4026cef613e1" Alias="Menu - MegaNavV8 - MeganavV8" Level="1">
  <Info>
    <Name>Menu - MegaNavV8 - MeganavV8</Name>
    <EditorAlias>AaronSadler.MegaNavV8</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxDepth": 2,
  "RemoveNaviHideItems": true
}]]></Config>
</DataType>