<?xml version="1.0" encoding="utf-8"?>
<DataType Key="57f2bedc-8ad2-40c0-8dfc-4aa75e88563c" Alias="Rich Text Block - Rich Text Editor" Level="1">
  <Info>
    <Name>Rich Text Block - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "styleselect",
      "bold",
      "italic",
      "underline",
      "strikethrough"
    ],
    "stylesheets": [
      "/css/rte.css"
    ],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>