<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ee161bdd-0e3d-4f7f-b09b-caabe4d0fe18" Alias="Single Image - Media Picker" Level="1">
  <Info>
    <Name>Single Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>