<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4e4838b0-782c-4e3b-bb59-501621b89896" Alias="Single Link - Multi URL Picker" Level="1">
  <Info>
    <Name>Single Link - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>