<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6cabb41a-d8a8-4029-95bc-9735d2952293" Alias="Social Media - Name - Dropdown" Level="1">
  <Info>
    <Name>Social Media - Name - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "GitHub"
    },
    {
      "id": 2,
      "value": "GitLab"
    },
    {
      "id": 3,
      "value": "Azure DevOps"
    },
    {
      "id": 4,
      "value": "Twitter"
    },
    {
      "id": 5,
      "value": "Slack"
    },
    {
      "id": 6,
      "value": "Facebook"
    },
    {
      "id": 7,
      "value": "Instagram"
    }
  ]
}]]></Config>
</DataType>